<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('脑图')" />
    <meta charset="utf-8">
    <title>Organization Chart Plugin</title>
</head>
<body class="gray-bg">
<div id="chart-container"></div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    $(function () {
        var mrtonId = [[${marathonId}]];

        var nodeTemplate = function(data) {
            return `
            <div class="title">
                <a href="javascript:void(0)" onclick="registerEvent('${data.id}','${data.name}')">${data.name}</a>
            </div>
            <div class="content">${data.title}</div>
      `;
        };

        var oc = $('#chart-container').orgchart({
            'data': '/ceremony/data/'+mrtonId,
            'nodeTemplate': nodeTemplate,
            'direction': 'l2r'
        });
    });

    function registerEvent(procoId,procName){
        console.log(procoId);
        if('起跑仪式方案' == procName){
            $.modal.openTab(procName,'ceremony/startrunplan/'+procoId)
        }else if ('颁奖仪式方案' == procName){
            $.modal.openTab(procName,'ceremony/awardsplan/'+procoId)
        }
        return false;
    }
</script>
</body>
</html>