<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增仪式第三方人员需求')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mrtonThirdpartyStaff-add">
			<div class="form-group" hidden>
				<label class="col-sm-3 control-label">任务ID：</label>
				<div class="col-sm-8">
					<input id="procId" name="procId" class="form-control" type="text" th:value="${mrtonprocid}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">供应商：</label>
				<div class="col-sm-8">
					<input id="supplier" name="supplier" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">对接人：</label>
				<div class="col-sm-8">
					<input id="contactPerson" name="contactPerson" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系方式：</label>
				<div class="col-sm-8">
					<input id="mobile" name="mobile" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">报价：</label>
				<div class="col-sm-8">
					<input id="price" name="price" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交通食宿：</label>
				<div class="col-sm-8">
					<input id="transportation" name="transportation" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发票详情：</label>
				<div class="col-sm-8">
					<input id="invoiceDetail" name="invoiceDetail" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">人员详情：</label>
				<div class="col-sm-8">
					<input id="staffDetail" name="staffDetail" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "ceremony/anchor"
		$("#form-mrtonThirdpartyStaff-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-mrtonThirdpartyStaff-add').serialize());
	        }
	    }
	</script>
</body>
</html>
