<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('主持人审批')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true">
                <tr>
                    <th width="12%">供应商</th>
                    <th width="12%">对接人</th>
                    <th width="12%">联系方式</th>
                    <th width="12%">报价</th>
                    <th width="12%">交通食宿</th>
                    <th width="12%">发票详情</th>
                    <th width="12%">人员详情</th>
                    <th width="12%">人员详情</th>
                </tr>
                <!--th:each 作用在哪个标签上面，对应就会根据它的值迭代多少次-->
                <tr th:each="staff :${staffApproveInfo.lst3PartyStaff}">
                    <td th:text="${staff.supplier}">111</td>
                    <td th:text="${staff.mobile}">111</td>
                    <td th:text="${staff.price }">111</td>
                    <td th:text="${staff.transportation}">111</td>
                    <td th:text="${staff.invoiceDetail }">111</td>
                    <td th:text="${staff.remark}">111</td>
                    <td ><a class="btn btn-success btn-xs " href="javascript:void(0)" th:onclick="showstaffdetail('[[${staff.id}]]')" ><i class="fa fa-label"></i>点击查看详情</a> </td>
                     <td th:text="${staff.masterStr}">111</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "ceremony/anchor";

    $("#form-mrtonThirdpartyStaff-add").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });

    var approveprefix = ctx + "approval"
    function submitHandler() {
        if ($.validate.form()) {
            var url = approveprefix + "/approveaction";
            $.ajax({
                cache : true,
                type : "POST",
                url : url,
                data : $('#form-mrtonThirdpartyStaff-approve').serialize(),
                async : false,
                error : function(request) {
                    $.modal.alertError("系统错误");
                },
                success : function(data) {
                    $.operate.successCallback(data);
                }
            });
            // $.operate.save(approveprefix + "/approveaction", $('#form-mrtonThirdpartyStaff-add').serialize());
        }
    }
    function showstaffdetail(id) {
        var url = prefix + "/staffDetail/" + id;
        $.modal.open("查看人员详情", url);
    }

</script>
</body>
</html>
