<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('主持人详情')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-mrtonThirdpartyStaff-detail">
        <div class="form-group">
            <div class="col-sm-8">
                <label th:text="${staffDetail}"  id="staffDetail" name="staffDetail"></label>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
</body>
</html>
