<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marathon.mapper.customize.MrtProcInfoCustomizeMapper">

    <select id="selectMrtProcs" resultType="com.marathon.qvo.MrtonProcInfoVO">
        SELECT
            complex.marathon_id as mrtonId,
            complex.parent_proc_id as parentProcId,
            config.proc_name as procName,
            GROUP_CONCAT(sysuser.user_name) AS principals
        FROM
            (
                SELECT
                    mtoninfo.marathon_id,
                    mtoninfo.parent_proc_id
                FROM
                    mrton_proc_info mtoninfo
                WHERE
                    mtoninfo.marathon_id = #{marathonId}
                GROUP BY
                    mtoninfo.marathon_id,
                    mtoninfo.parent_proc_id
            ) complex
        LEFT JOIN mrton_proc_cfg config ON complex.parent_proc_id = config.proc_id
        LEFT JOIN mrton_proc_user mtonuser ON complex.marathon_id = mtonuser.mrton_id
        AND complex.parent_proc_id = mtonuser.parent_proc_id
        LEFT JOIN sys_user sysuser ON mtonuser.user_id = sysuser.user_id
        GROUP BY
            complex.marathon_id,
            complex.parent_proc_id
    </select>

    <select id="selectMyMrtonProc" resultType="com.marathon.qvo.MyMrtonProcVO">
         SELECT
            procinfo.id AS mrtonProcId,
            (
                CASE
                WHEN customize = 1 THEN
                    procinfo.proc_name
                ELSE
                    cfg1.proc_name
                END
            ) AS procName,
            cfg1.proc_name AS procName,
            cfg1.proc_seq AS procSeq,
            procinfo.customize as customize,
            date_format(procinfo.plan_starttime, '%Y-%m-%d') AS planStarttime,
            date_format(procinfo.plan_endtime, '%Y-%m-%d') AS planEndtime,
            procinfo.`status` AS STATUS
        FROM
            mrton_proc_info procinfo
        INNER JOIN mrton_proc_user procuser ON procuser.mrton_id = procinfo.marathon_id
        AND procinfo.parent_proc_id = procuser.parent_proc_id
        AND procuser.user_id = #{userId}
        INNER JOIN mrton_proc_cfg cfg ON cfg.proc_id = procinfo.parent_proc_id
        LEFT JOIN mrton_proc_cfg cfg1 ON cfg1.proc_id = procinfo.proc_id
        WHERE
            procinfo.marathon_id = #{marathonId}
        AND cfg.proc_name = #{procName}
        ORDER BY
            cfg1.proc_seq
    </select>
    <select id="selectMyMrton" resultMap="com.marathon.mapper.MarathonInfoMapper.Marathon_infoResult">
        SELECT DISTINCT
            mrton.marathon_uuid,
            marathon_name
        FROM
            mrton_proc_cfg cfg
        INNER JOIN mrton_proc_user procuser ON procuser.parent_proc_id = cfg.proc_id
        AND procuser.user_id = #{userId}
        INNER JOIN marathon_info mrton ON procuser.mrton_id = mrton.marathon_uuid
        WHERE
            cfg.proc_name = #{procName}
    </select>
    <select id="getMrtonMenu" resultType="com.marathon.qvo.MrthonMenuBean">
        SELECT
            mrton.marathon_uuid as marathonId,
            mrton.marathon_name as mrtonName ,
            cfg.proc_name as procName,
            CONCAT(mrton.marathon_name,cfg.proc_name) as mrthonMenuName
        FROM
            mrton_proc_cfg cfg
        INNER JOIN mrton_proc_user mpuser ON cfg.proc_id = mpuser.parent_proc_id
        AND user_id = #{userId}
        INNER JOIN marathon_info mrton ON mpuser.mrton_id = mrton.marathon_uuid
        WHERE
            cfg.parent_proc_id = "0"
    </select>

    <select id="queryMrtonInfoById" resultType="com.marathon.qvo.MrtonProcCommonQVO">
        SELECT
            id,
            config.proc_id as procCfgId,
            (
                CASE
                WHEN customize = 1 THEN
                    procinfo.proc_name
                ELSE
                    config.proc_name
                END
            ) AS procName,
            customize,
            plan_starttime AS planStarttime,
            plan_endtime AS planEndtime,
            (
                CASE
                WHEN customize = 1 THEN
                    procinfo.reserve2
                ELSE
                    config.proc_content
                END
            ) AS procContent,
            (
                CASE
                WHEN customize = 1 THEN
                    procinfo.reserve3
                ELSE
                    config.proc_descri
                END
            ) AS procDescri
        FROM
            `mrton_proc_info` procinfo
        LEFT JOIN mrton_proc_cfg config ON procinfo.proc_id = config.proc_id
        where id = #{mrtonprocId}
    </select>
</mapper>