<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.customize.SysUserCustomizeMapper">

    <select id="selectUserListByIds" parameterType="SysUser" resultType="SysUser">
        select user_id as userId,user_name as userName from sys_user where user_id in
        <foreach collection="list" item="userId" index="index"
            open="(" close=")" separator=",">
        #{userId}
    </foreach>

    </select>


</mapper> 