<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改车辆需求')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mrtonCarDemand-edit" th:object="${mrtonCarDemand}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">任务ID：</label>
				<div class="col-sm-8">
					<input id="procId" name="procId" th:field="*{procId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">申请部门：</label>
				<div class="col-sm-8">
					<input id="department" name="department" th:field="*{department}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用车时间：</label>
				<div class="col-sm-8">
					<input id="serviceTime" name="serviceTime" th:field="*{serviceTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用车数量：</label>
				<div class="col-sm-8">
					<input id="carCount" name="carCount" th:field="*{carCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">乘坐人数量：</label>
				<div class="col-sm-8">
					<input id="riderCount" name="riderCount" th:field="*{riderCount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车型：</label>
				<div class="col-sm-8">
					<input id="carModel" name="carModel" th:field="*{carModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">路线：</label>
				<div class="col-sm-8">
					<input id="route" name="route" th:field="*{route}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用途：</label>
				<div class="col-sm-8">
					<input id="carUse" name="carUse" th:field="*{carUse}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "mrtonCarDemand";
		$("#form-mrtonCarDemand-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mrtonCarDemand-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
