<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('赛事列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								赛事名称：<input type="text" name="marathon_name"/>
							</li>

							<li class="select-time">
								<label>赛事时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="marathon:marathon_info:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="marathon:marathon_info:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="marathon:marathon_info:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="marathon:marathon_info:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('marathon:marathon_info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('marathon:marathon_info:remove')}]];
        var prefix = ctx + "marathon/marathon_info";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "赛事",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'marathon_uuid', 
					title : '赛事ID',
					visible: false
				},
				{
					field : 'marathon_name', 
					title : '赛事名称',
					sortable: true
				},
				{
					field : 'marathon_starttime', 
					title : '赛事开始时间',
					sortable: true
				},
				{
					field : 'marathon_endtime', 
					title : '赛事结束时间',
					sortable: true
				},
				{
					field : 'marathon_address', 
					title : '赛事举办详细地址',
					sortable: true
				},
				{
					field : 'marathon_creater', 
					title : '创建者',
					sortable: true
				},
				{
					field : 'marathon_createtime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'marathon_updater', 
					title : '最后修改者',
					sortable: true
				},
				{
					field : 'marathon_updatetime', 
					title : '最后修改时间',
					sortable: true
				},
				{
					field : 'marathon_deleted', 
					title : '是否被删除',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.marathon_uuid + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.marathon_uuid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>