<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marathon.mapper.MrtonResourceMapper">

    <resultMap type="MrtonResource" id="MrtonResourceResult">
        <result property="id" column="id"/>
        <result property="procId" column="proc_id"/>
        <result property="resourceName" column="resource_name"/>
        <result property="resourceUrl" column="resource_url"/>
        <result property="createtime" column="createtime"/>
        <result property="uploader" column="uploader"/>
        <result property="isTemplate" column="isTemplate"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMrtonResourceVo">
        select id, proc_id, resource_name, resource_url, createtime, uploader, isTemplate, del_flag from mrton_resource
    </sql>

    <select id="selectMrtonResourceList" parameterType="MrtonResource" resultMap="MrtonResourceResult">
        <include refid="selectMrtonResourceVo"/>
        <where>
            <if test="id != null ">and id = #{id}
            </if>
            <if test="procId != null  and procId != '' ">and proc_id = #{procId}
            </if>
            <if test="resourceName != null  and resourceName != '' ">and resource_name = #{resourceName}
            </if>
            <if test="resourceUrl != null  and resourceUrl != '' ">and resource_url = #{resourceUrl}
            </if>
            <if test="createtime != null ">and createtime = #{createtime}
            </if>
            <if test="uploader != null ">and uploader = #{uploader}
            </if>
            <if test="isTemplate != null ">and isTemplate = #{isTemplate}
            </if>
            <if test="delFlag != null ">and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <select id="selectMrtonResourceById" parameterType="Integer" resultMap="MrtonResourceResult">
        <include refid="selectMrtonResourceVo"/>
        where id = #{id}
    </select>

    <insert id="insertMrtonResource" parameterType="MrtonResource" useGeneratedKeys="true" keyProperty="id">
        insert into mrton_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="procId != null  and procId != ''  ">proc_id,
            </if>
            <if test="resourceName != null  and resourceName != ''  ">resource_name,
            </if>
            <if test="resourceUrl != null  and resourceUrl != ''  ">resource_url,
            </if>
            <if test="createtime != null  ">createtime,
            </if>
            <if test="uploader != null  ">uploader,
            </if>
            <if test="isTemplate != null  ">isTemplate,
            </if>
            <if test="delFlag != null  ">del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="procId != null  and procId != ''  ">#{procId},
            </if>
            <if test="resourceName != null  and resourceName != ''  ">#{resourceName},
            </if>
            <if test="resourceUrl != null  and resourceUrl != ''  ">#{resourceUrl},
            </if>
            <if test="createtime != null  ">#{createtime},
            </if>
            <if test="uploader != null  ">#{uploader},
            </if>
            <if test="isTemplate != null  ">#{isTemplate},
            </if>
            <if test="delFlag != null  ">#{delFlag},
            </if>
        </trim>
    </insert>

    <update id="updateMrtonResource" parameterType="MrtonResource">
        update mrton_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="procId != null  and procId != ''  ">proc_id = #{procId},
            </if>
            <if test="resourceName != null  and resourceName != ''  ">resource_name = #{resourceName},
            </if>
            <if test="resourceUrl != null  and resourceUrl != ''  ">resource_url = #{resourceUrl},
            </if>
            <if test="createtime != null  ">createtime = #{createtime},
            </if>
            <if test="uploader != null  ">uploader = #{uploader},
            </if>
            <if test="isTemplate != null  ">isTemplate = #{isTemplate},
            </if>
            <if test="delFlag != null  ">del_flag = #{delFlag},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMrtonResourceById" parameterType="Integer">
        delete from mrton_resource where id = #{id}
    </delete>

    <delete id="deleteMrtonResourceByIds" parameterType="String">
        delete from mrton_resource where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>