<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改安保-了解赛事，确定赛事规模')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mrtonSafetyGrasp-edit" th:object="${grasp}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">项目设置：</label>
				<div class="col-sm-8">
					<input id="projectSetting" name="projectSetting" th:field="*{projectSetting}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">各项目人数：</label>
				<div class="col-sm-8">
					<input id="projectNum" name="projectNum" th:field="*{projectNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">赛事规格：</label>
				<div class="col-sm-8">
					<input id="mrtonStandard" name="mrtonStandard" th:field="*{mrtonStandard}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">比赛地点：</label>
				<div class="col-sm-8">
					<input id="mrtonAddress" name="mrtonAddress" readonly th:field="*{mrtonAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">比赛日期：</label>
				<div class="col-sm-8">
					<input id="mrtonStarttime" name="mrtonStarttime" readonly th:field="*{mrtonStarttime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">竞赛规程：</label>
				<div class="col-sm-8">
					<a id="amrtonFileName"  href="javascript:void(0);" onclick="downLoad('1111.txt')" th:field="*{mrtonStarttime}" class="form-control" title="点击下载文件" >[[*{mrtonAddress}]]</a>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "marathon/mrtonSafetyGrasp";
		$("#form-mrtonSafetyGrasp-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mrtonSafetyGrasp-edit').serialize());
	        }
	    }

	    function downLoad(filename) {
			window.location.href = prefix + "/downloadfile?filename="+ encodeURI(filename)
		}
	</script>
</body>
</html>
