<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marathon.mapper.MrtonFoodDemandMapper">
  <resultMap id="BaseResultMap" type="com.marathon.domain.MrtonFoodDemand">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="proc_id" jdbcType="VARCHAR" property="procId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="food_standard" jdbcType="VARCHAR" property="foodStandard" />
    <result column="requirement" jdbcType="VARCHAR" property="requirement" />
    <result column="food_count" jdbcType="INTEGER" property="foodCount" />
    <result column="water_count" jdbcType="INTEGER" property="waterCount" />
    <result column="service_time" jdbcType="TIMESTAMP" property="serviceTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, proc_id, department, stage, food_standard, requirement, food_count, water_count, 
    service_time, remark, del_flag, create_user_name, create_time, update_user_name, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.marathon.domain.MrtonFoodDemandExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mrton_food_demand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.marathon.domain.MrtonFoodDemandExample">
    delete from mrton_food_demand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.marathon.domain.MrtonFoodDemand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrton_food_demand (proc_id, department, stage, 
      food_standard, requirement, food_count, 
      water_count, service_time, remark, 
      del_flag, create_user_name, create_time, 
      update_user_name, update_time)
    values (#{procId,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{stage,jdbcType=INTEGER}, 
      #{foodStandard,jdbcType=VARCHAR}, #{requirement,jdbcType=VARCHAR}, #{foodCount,jdbcType=INTEGER}, 
      #{waterCount,jdbcType=INTEGER}, #{serviceTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.marathon.domain.MrtonFoodDemand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrton_food_demand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="procId != null">
        proc_id,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="foodStandard != null">
        food_standard,
      </if>
      <if test="requirement != null">
        requirement,
      </if>
      <if test="foodCount != null">
        food_count,
      </if>
      <if test="waterCount != null">
        water_count,
      </if>
      <if test="serviceTime != null">
        service_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="procId != null">
        #{procId,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="foodStandard != null">
        #{foodStandard,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null">
        #{requirement,jdbcType=VARCHAR},
      </if>
      <if test="foodCount != null">
        #{foodCount,jdbcType=INTEGER},
      </if>
      <if test="waterCount != null">
        #{waterCount,jdbcType=INTEGER},
      </if>
      <if test="serviceTime != null">
        #{serviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.marathon.domain.MrtonFoodDemandExample" resultType="java.lang.Long">
    select count(*) from mrton_food_demand
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mrton_food_demand
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.procId != null">
        proc_id = #{record.procId,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null">
        department = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=INTEGER},
      </if>
      <if test="record.foodStandard != null">
        food_standard = #{record.foodStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.requirement != null">
        requirement = #{record.requirement,jdbcType=VARCHAR},
      </if>
      <if test="record.foodCount != null">
        food_count = #{record.foodCount,jdbcType=INTEGER},
      </if>
      <if test="record.waterCount != null">
        water_count = #{record.waterCount,jdbcType=INTEGER},
      </if>
      <if test="record.serviceTime != null">
        service_time = #{record.serviceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.createUserName != null">
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserName != null">
        update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mrton_food_demand
    set id = #{record.id,jdbcType=INTEGER},
      proc_id = #{record.procId,jdbcType=VARCHAR},
      department = #{record.department,jdbcType=VARCHAR},
      stage = #{record.stage,jdbcType=INTEGER},
      food_standard = #{record.foodStandard,jdbcType=VARCHAR},
      requirement = #{record.requirement,jdbcType=VARCHAR},
      food_count = #{record.foodCount,jdbcType=INTEGER},
      water_count = #{record.waterCount,jdbcType=INTEGER},
      service_time = #{record.serviceTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=TINYINT},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user_name = #{record.updateUserName,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>