<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marathon.mapper.MrtonResourceMapper" >
  <resultMap id="BaseResultMap" type="com.marathon.domain.MrtonResource" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="proc_id" property="procId" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="uploader" property="uploader" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, proc_id, resource_name, resource_url, createtime, uploader, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.marathon.domain.MrtonResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mrton_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mrton_resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mrton_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.marathon.domain.MrtonResourceExample" >
    delete from mrton_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.marathon.domain.MrtonResource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrton_resource (proc_id, resource_name, resource_url, 
      createtime, uploader, del_flag
      )
    values (#{procId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{uploader,jdbcType=INTEGER}, #{delFlag,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.marathon.domain.MrtonResource" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mrton_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="procId != null" >
        proc_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceUrl != null" >
        resource_url,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="uploader != null" >
        uploader,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="procId != null" >
        #{procId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceUrl != null" >
        #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null" >
        #{uploader,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.marathon.domain.MrtonResourceExample" resultType="java.lang.Integer" >
    select count(*) from mrton_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mrton_resource
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.procId != null" >
        proc_id = #{record.procId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null" >
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceUrl != null" >
        resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploader != null" >
        uploader = #{record.uploader,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mrton_resource
    set id = #{record.id,jdbcType=INTEGER},
      proc_id = #{record.procId,jdbcType=VARCHAR},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      uploader = #{record.uploader,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.marathon.domain.MrtonResource" >
    update mrton_resource
    <set >
      <if test="procId != null" >
        proc_id = #{procId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceUrl != null" >
        resource_url = #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploader != null" >
        uploader = #{uploader,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marathon.domain.MrtonResource" >
    update mrton_resource
    set proc_id = #{procId,jdbcType=VARCHAR},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_url = #{resourceUrl,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      uploader = #{uploader,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap type="com.marathon.domain.MrtonResource" id="MrtonResourceResult">
    <result property="id" column="id"/>
    <result property="procId" column="proc_id"/>
    <result property="resourceName" column="resource_name"/>
    <result property="resourceUrl" column="resource_url"/>
    <result property="createtime" column="createtime"/>
    <result property="uploader" column="uploader"/>
    <result property="delFlag" column="del_flag"/>
  </resultMap>

  <sql id="selectMrtonResourceVo">
        select id, proc_id, resource_name, resource_url, createtime, uploader, del_flag from mrton_resource
    </sql>

  <select id="selectMrtonResourceList" parameterType="com.marathon.domain.MrtonResource" resultMap="MrtonResourceResult">
    <include refid="selectMrtonResourceVo"/>
    <where>
      <if test="id != null ">and id = #{id}
      </if>
      <if test="procId != null  and procId != '' ">and proc_id = #{procId}
      </if>
      <if test="resourceName != null  and resourceName != '' ">and resource_name = #{resourceName}
      </if>
      <if test="resourceUrl != null  and resourceUrl != '' ">and resource_url = #{resourceUrl}
      </if>
      <if test="createtime != null ">and createtime = #{createtime}
      </if>
      <if test="uploader != null ">and uploader = #{uploader}
      </if>
      <if test="delFlag != null ">and del_flag = #{delFlag}
      </if>
    </where>
  </select>

  <select id="selectMrtonResourceById" parameterType="Integer" resultMap="MrtonResourceResult">
    <include refid="selectMrtonResourceVo"/>
    where id = #{id}
  </select>

  <insert id="insertMrtonResource" parameterType="com.marathon.domain.MrtonResource" useGeneratedKeys="true" keyProperty="id">
    insert into mrton_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="procId != null  and procId != ''  ">proc_id,
      </if>
      <if test="resourceName != null  and resourceName != ''  ">resource_name,
      </if>
      <if test="resourceUrl != null  and resourceUrl != ''  ">resource_url,
      </if>
      <if test="createtime != null  ">createtime,
      </if>
      <if test="uploader != null  ">uploader,
      </if>
      <if test="delFlag != null  ">del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="procId != null  and procId != ''  ">#{procId},
      </if>
      <if test="resourceName != null  and resourceName != ''  ">#{resourceName},
      </if>
      <if test="resourceUrl != null  and resourceUrl != ''  ">#{resourceUrl},
      </if>
      <if test="createtime != null  ">#{createtime},
      </if>
      <if test="uploader != null  ">#{uploader},
      </if>
      <if test="delFlag != null  ">#{delFlag},
      </if>
    </trim>
  </insert>

  <update id="updateMrtonResource" parameterType="com.marathon.domain.MrtonResource">
    update mrton_resource
    <trim prefix="SET" suffixOverrides=",">
      <if test="procId != null  and procId != ''  ">proc_id = #{procId},
      </if>
      <if test="resourceName != null  and resourceName != ''  ">resource_name = #{resourceName},
      </if>
      <if test="resourceUrl != null  and resourceUrl != ''  ">resource_url = #{resourceUrl},
      </if>
      <if test="createtime != null  ">createtime = #{createtime},
      </if>
      <if test="uploader != null  ">uploader = #{uploader},
      </if>
      <if test="delFlag != null  ">del_flag = #{delFlag},
      </if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteMrtonResourceById" parameterType="Integer">
        delete from mrton_resource where id = #{id}
    </delete>

  <delete id="deleteMrtonResourceByIds" parameterType="String">
    delete from mrton_resource where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>